:root {
  --text: #444;
  --accent-text: #222;
  --input-bg: #f2f2f2;
  --code-bg: #e7e7e7;
  --border: 1px solid var(--text);
  --mono: "JetBrains Mono", Menlo, Consolas, Monaco, "Liberation Mono",
    Lucida Console, monospace;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--mono);
  font-size: 1rem;
  width: 48em;
  margin: 1rem auto;
  padding: 0 1.5rem;
}

a {
  color: var(--text);
}

p {
  line-height: 1.7rem;
}

strong {
  font-weight: 600;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: var(--mono);
  font-size: 2rem;
  color: var(--text);
  text-decoration: none;
  background-color: #D9D9D9;
  padding: 2px 4px;
}

header>p {
  font-size: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

section {
  margin: 1rem 0;
}

section.tagline {
  font-size: 1rem;
  margin-bottom: 0;
}

pre {
  font-family: var(--mono);
  background: var(--code-bg);
  padding: 1rem;
  margin: 1rem 0;
  color: var(--accent-text);
  overflow-x: auto;
}

code {
  font-family: var(--mono);
  background: var(--code-bg);
  color: var(--accent-text);
  word-wrap: break-word;
}

footer {
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: var(--text);
  margin: 2rem 0 3rem;
}